<mat-card class="menu-card">
  <mat-toolbar class="menu-toolbar">
      <mat-toolbar-row>
        <!-- <span>В улюблені добавлено {{n}} фільмів</span> -->
          <div>
            <mat-form-field>
              <mat-select [(value)]="selectedOption" (selectionChange)="getCards()" placeholder="Отобразить">
                <mat-option *ngFor="let option of Options" [value]="option.description">
                  {{option.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </mat-toolbar-row>
  </mat-toolbar>
</mat-card>


<mat-grid-list cols="4" rowHeight="700px">
  <div *ngFor="let actor of actors">
      <mat-grid-tile  class="card"  colspan="1">
        <actor-card [actorInfo]="actor"  (favorite)="setFavoriteActor($event)"></actor-card>
      </mat-grid-tile>
  </div>
</mat-grid-list> 

<button class="more_button" mat-button (click)="getNextPage()">Показать ещё <mat-icon class="more_button-item">add</mat-icon></button> 
