<!-- <mat-card class="menu-card">
  <mat-toolbar class="menu-toolbar">
      <mat-toolbar-row>
        <span>В улюблені добавлено {{n}} фільмів</span> 
          <div>
            <mat-form-field>
              <mat-select [(value)]="selectedOption" (selectionChange)="getCards()" placeholder="Отобразить">
                <mat-option *ngFor="let option of Options" [value]="option.description">
                  {{option.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <app-search (search)="checkSearchValue($event)"></app-search>
      </mat-toolbar-row> 
  </mat-toolbar>
</mat-card> -->

<div class="content-wrapper">

    <app-search class="search-position" (search)="checkSearchValue($event)"></app-search>

    <div class="center">
      <mat-spinner *ngIf="activeSpinner"></mat-spinner>  
    </div>

    <div class="actor-card">
      <div *ngFor="let actor of actors">
        <actor-card [actorInfo]="actor"  (favorite)="setFavoriteActor($event)"></actor-card>
      </div>
    </div> 
    
    <button [ngClass]="{'invisible' : searchedValue}" class="more_button" mat-button (click)="getNextPage()">Показать ещё <mat-icon class="more_button-item">add</mat-icon></button> 
</div>
