<mat-toolbar class="colored">
    <mat-toolbar-row>
      <span>Film Catalog</span>
      <div class="menu-buttons">
        <a mat-button 
          *ngFor="let link of links" 
          [routerLink]="link.path" 
          [routerLinkActive]="link.active"> 
          <mat-icon class="example-icon">{{link.icon}}</mat-icon>{{link.label}}
        </a>
      </div>
      <span class="example-spacer"></span>
      <div class="menu-buttons">
        <!-- <a mat-button
          [routerLink]="authLink.path"
          [routerLinkActive]="authLink.active">
          <mat-icon class="example-icon">{{authLink.icon}}</mat-icon>{{authLink.label}}
        </a> -->
        <a mat-button
          *ngIf="!isLoggedIn"
          routerLink = "login"
          routerLinkActive = "button-active">Вход</a>
        <a mat-button
          *ngIf="isLoggedIn"
          (click)="logOut()">Выход</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  
  <router-outlet></router-outlet>
     




    
  