<mat-card class="menu-card">
    <mat-toolbar class="menu-toolbar">
        <mat-toolbar-row>
          <!-- <span>В улюблені добавлено {{n}} фільмів</span> -->
            <div>
              <mat-form-field>
                <mat-select [(value)]="selectedOption" (selectionChange)="getCards()" placeholder="Отобразить">
                  <mat-option *ngFor="let option of Options" [value]="option.description">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span class="example-spacer"></span>
            <span class="example-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-card>

<mat-spinner class="spinner-position" *ngIf="activeSpinner"></mat-spinner>
<mat-grid-list cols="3" rowHeight="700px">
  <div *ngFor="let film of films">
    <div>
      <mat-grid-tile  class="card"  colspan="1">
        <film-item [filmInfo]="film"  (favorite)="setFavoriteNumber($event)"></film-item>
      </mat-grid-tile>
    </div>
  </div>
</mat-grid-list> 

<button class="more_button" mat-button (click)="getNextPage()">Показать ещё <mat-icon class="more_button-item">add</mat-icon></button>

