<mat-card  class="card-item"> 
  <mat-card-header>
    <mat-card-title class="card-title">{{film.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{film.imgUrl}}" alt="{{film.name}}" class="card-img-item">
  <mat-card-content>
    <details-inner [filmDescription]="film.description"></details-inner>
  </mat-card-content>
  <mat-card-actions class="card-navigation">
      <button mat-button>Відкрити</button>
      <button mat-button [ngClass]="{'red' : isFavorite()}" (click)="setAsFavorite()" value="{{film.isFavorite}}"><mat-icon>favorite_border</mat-icon></button>
    </mat-card-actions>
</mat-card>